<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Статус</td>
            <td>Тематика</td>
            <td>Создан</td>
            <td>Тема</td>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
            <tr>
                <td class="span1">
                    {{ incident.pk }}
                </td>
                <td class="span1">
                    <a href="{% url "incident-history-view" incident.pk %}">
                    {{ incident.status.name }}
                </td>
                <td class="span2">
                    {{ incident.area.name }}
                </td>
                <td class="span2">
                    {{ incident.created_at|date:"d-m-Y G:i:s" }}
                </td>
                <td class="span6">
                    <a href="{% url "incident-view" incident.pk %}">{{ incident.theme }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if incidents.has_previous %}
    <a href="{% url "main-page-view" incidents.previous_page_number %}" class="btn btn-primary">Пред. стр.</a>
{% else %}
    <a class="btn disabled" href="#">Пред. стр.</a>
{% endif %}
{% if incidents.has_next %}
    <a href="{% url "main-page-view" incidents.next_page_number %}" class="btn btn-primary">След. стр.</a>
{% else %}
    <a class="btn disabled" href="#">След. стр.</a>
{% endif %}
