{% extends "tickets/base.html" %}

{% block title %}{{ block.super }} - Информация об инциденте{% endblock %}

{% block body %}

    {% if incident %}
        {% if form %}
            <div class="control-group">
                <form action="." method="POST">{% csrf_token %}
                    <table class="table table-condensed">
                        <tr>
                            <td class="span1">
                                Статус
                            </td>
                            <td class="span2">
                                {{ form.status }}
                            </td>
                            <td class="span8">
                                <input type="submit" class="btn btn-primary" value="Изменить статус" name="change"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}

        <table class="table table-bordered table-hover">
            <tr>
                <td class="span1">Статус:</td>
                <td>
                    <a href="{% url 'incident-history-view' incident.pk %}">{{ incident.status }}</a>
                </td>
            </tr>
            <tr>
                <td class="span1">Отдел:</td>
                <td>{{ incident.department }}</td>
            </tr>
            <tr>
                <td class="span1">Тематика:</td>
                <td>{{ incident.area }}</td>
            </tr>
            <tr>
                <td class="span1">Пользователь:</td>
                <td>{{ incident.user }}</td>
            </tr>
            {% if form_performers %}
                <tr>
                    <td class="span1">Исполнители:</td>
                    <td>
                        <form action="." method="POST">{% csrf_token %}
                                {% for p in form_performers.performers %}
                                    {{ p }}
                                {% endfor %}
                                <input type="submit" class="btn btn-primary" value="Изменить список исполнителей" name="add_performers"/>
                        </form>
                    </td>
                </tr>
                {% if email_messages_errors %}
                    {% for m in email_messages_errors %}
                    <tr>
                        <td colspan="2" class="span12 alert alert-error">
                            <span>
                                {{ m }}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if email_messages %}
                    {% for m in email_messages %}
                    <tr>
                        <td colspan="2" class="span12 alert alert-success">
                            <span>
                                {{ m }}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% else %}
                <tr>
                    <td class="span1">Исполнители:</td>
                    <td>
                        {% for p in incident.performers.all %}
                            <span class="label">{{ p }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="span1">Тема:</td>
                <td>{{ incident.theme }}</td>
            </tr>
            <tr>
                <td class="span1">Описание:</td>
                <td>{{ incident.description|urlize|linebreaks }}</td>
            </tr>
        </table>
    {% endif %}

    {% if comments %}
        <div class="text-center">
            Комментарии
        </div>
        <table class="table table-bordered table-hover">
        {% for comment in comments %}
            <tr>
                <td class="span3">
                    <span class="label">{{ comment.user }}</span> 
                    <br> 
                    {{ comment.created_at|date:"d M Y H:i:s" }}
                    <br>
                </td>
                <td class="span12">
                    {{ comment.comment|urlize|linebreaks }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if form_comment %}
        <form action="." method="POST">{% csrf_token %}
            <div class="text-center">
                {{ form_comment.comment.label }}
            </div>
            {{ form_comment.comment }}
            <center><input type="submit" class="btn btn-primary span4" value="Добавить комментарий" name="add_comment"/></center>
        </form>
    {% endif %}
{% endblock %}
