{% extends "tickets/base.html" %}

{% block title %}{{ block.super }} - Фильтр инцидентов{% endblock %}

{% block body %}
    <form action="." method="POST">{% csrf_token %}
        <div>
            <table class="table">
                <tr>
                    <td>
                        <span class="row-fluid">
                            <span class="span1">
                                {{ form.area.label }}
                            </span>
                            {% for f in form.area %}
                                <span class="span2">{{ f }}</span>
                            {% endfor %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="row-fluid">
                            <span class="span1">
                                {{ form.status.label }}
                            </span>
                            {% for s in form.status %}
                                <span class="span2">{{ s }}</span>
                            {% endfor %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><input type="submit" class="btn btn-primary span4" value="Фильтровать" name="filter"/></center>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <br />
    {% include "tickets/incidents_list.html" %}
{% endblock %}
