{% extends "tickets/base.html" %}

{% block title %}{{ block.super }} - Вход{% endblock %}

{% block body %}
<center>
<form action="." method="POST">{% csrf_token %}
    <div>
        <label for="username">Логин:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Пароль:</label>
        <input type="password" name="password" value="" id="password">                
    </div>
    <div>
        <input type="submit" class="span3 btn btn-primary" value="Вход"/>
    </div>
</form>
</center>
{% endblock %}
